<div class="row well clip-panel">
    {% set count = 0 %}
    {% for clip in clips %}
        {% if count is divisibleby(6) %}
            <div class="row">
        {% endif %}
        <div class="col-md-2">
            <div align="center" class="embed-responsive embed-responsive-16by9 clip-area" data-clip-url="{{ clip.url }}" data-cover-url="{{ clip.cover_url }}">
                <img src="{{ clip.cover_url }}" class="embed-responsive-item" alt="Responsive image">
            </div>
            <div><button class="btn btn-xs btn-default clip-btn" type="button" data-bind="{{ clip.name }}">{{ clip.short_name }}</button></div>
        </div>
        {% set count = count + 1 %}
        {% if count is divisibleby(6) %}
            </div>
            <br>
        {% endif %}
    {% endfor %}
    {% if count is not divisibleby(6) %}
        </div>
    {% endif %}
    <script>
        $('.clip-area').click(function () {
            var temp;
            if ($(this).children('img').length == 0) {
                temp = '<img src="' + $(this).attr('data-cover-url') + '" class="embed-responsive-item" alt="Responsive image">';
            } else {
                temp = '<video autoplay loop class="embed-responsive-item"> \
                            <source src="'+ $(this).attr('data-clip-url') +'" type="video/mp4"> \
                        </video>';
            }
            $(this).empty();
            $(this).append($(temp));
        });
        $('.clip-btn').click(function () {
            var all_btns = $('.clip-btn');
            all_btns.attr('disabled', 'disabled');

            $('#myModalLabel').text($(this).attr('data-bind'));

            $.get('/clip/' + $(this).attr('data-bind'), function (data) {
                all_btns.removeAttr('disabled');
                var modalBody = $('#myModalBody');
                modalBody.empty();
                modalBody.append($(data));
                $('#myModal').modal()
            });
        });
    </script>
</div>
</div>